<!--<h1>{{title}}</h1>
<img [src]="foto">
<button (click)="enviarMsg()">Enviar Alerta</button>
<app-lista-pessoa></app-lista-pessoa>
<app-interpolation-binding></app-interpolation-binding>
<app-property-binding></app-property-binding>
<app-two-way-binding></app-two-way-binding>
<app-ng-if></app-ng-if>
<app-ng-switch-case></app-ng-switch-case>
<app-ng-for></app-ng-for>
<app-ng-class></app-ng-class>-->
<!-- <app-ng-style></app-ng-style> -->
<!-- <ng-conteudo>
    <div class="titulo">
        Título recebido pelo template principal
    </div>
    <div class="conteudo-tabela">
        Novo conteúdo enviado pelo template principal 1
    </div>
    <div class="conteudo-tabela">
        Novo conteúdo enviado pelo template principal 2
    </div>
    <div class="conteudo-tabela">
        Novo conteúdo enviado pelo template principal 3
    </div>    
</ng-conteudo> -->
<!-- <event-binding></event-binding> -->
<!-- <input-output [parametros]="parametrosDoPai" (receptorDeParametro)="receberParametro($event)"></input-output>
<p>Item selecionado: {{ itemSelecionado }}</p> -->
<!-- <formulario></formulario> -->
<!-- <injecao-dependencia></injecao-dependencia> -->
<reactive-form></reactive-form>
